<!DOCTYPE html>
<html>
<head>
    <script language="javascript">
        var secs = 5; //倒计时的秒数
        var URL ;
        function Load(url){
            URL = url;
            for(var i=secs;i>=0;i--)
            {
                window.setTimeout('doUpdate(' + i + ')', (secs-i) * 1000);
            }
        }
        function doUpdate(num)
        {
            document.getElementById('displayInfo').innerHTML = '将在'+num+'秒后自动跳转到主页' ;
            if(num == 0) { window.location = URL; }
        }
    </script>
</head>
<body onload="Load('http://www.hkgbf.com')">
<div id="displayInfo"></div>
    <p>您已成功注册，请等待管理员审核。</p>

</body>
</html>

